body {
  background-color: #1e1e1e;
}
.game-area {
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid #dc042c;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #32cd32;
}

.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: white;
}

.score{
  color: white;
  text-align: center;
  font-size: 30px;
}